<div class="page-top">
 
  <div class="container-fluid">
	<div class="white-block">
		<div class="row mt-5">
			<h1 class="block-title text-center font-weight-bold text-primary">税金に関する計算を手軽に自分でできる</h1>
		</div>
		<div class="row">
			<div class="block-title font-weight-bold text-primary mt-5 mb-2">
				<p class="sub-text" style="font-size: 28px;">簡単な入力で税金に関する計算や様々なシミュレーションができるツールを提供しています。自分の収入や支出に合わせて税金の把握をしてみましょう。</p>
			</div>
		</div>
	</div>
	
	<div class="blue-block mb-3">
		<div class="title-block font-weight-bold text-center my-3 py-3">税金計算シミュレーション</div>
		<div class="col12 py-2 text-center">
		  <%= link_to "法人化した場合の効果検証", simulations_incorporation_path, class: "btn btn-black text-center font-weight-bold my-3", style: "width: 300px; margin: 0 auto;" %>
		</div>
		
		<div class="col12 py-2 text-center">
		  <%= link_to "贈与した場合の相続税と贈与税の影響", simulations_succession_gift_path, class: "btn btn-black text-center font-weight-bold my-3", style: "width: 300px; margin: 0 auto;" %>
		</div>
	</div>
	
	
	
	<div class="white-block-2 mt-3">
    	<div class="title-block font-weight-bold text-center my-3 py-3">小規模事業者の悩みをきっと解決</div>
    	<div class="col-12 py-2 text-center">
    		<%= link_to "掲示版", board_index_path, class: "btn btn-primary text-center font-weight-bold my-3 mx-auto d-block", style: "width: 300px;" %>
    	</div>
    </div>
  </div>
</div>